.product-widget {
  width: 80%;
  margin: auto;
  outline: none;
  padding: 18px 0px;
  display: flex;
  .filter-mobile {
    display: none;
    @media (max-width: 991.98px) {
      display: block;
    }
  }
}