.form-search {
  width: 100%;
  .mb-4 {
    margin-bottom: 0px !important;
  }
  .col-sm-8 {
    width: 100% !important;
  }
  label {
    display: none;
    margin-bottom: 0px !important;
    width: 0% !important;
  }
}