.filter-widget {
  width: 80%;
  margin: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(54,64,90,0.2);
  box-shadow: 0 10px 20px 0 rgba(54,64,90,0.2);
  outline: none;
  padding: 14px 48px;
}